<div class="container-padding">
	<div class="mb-1">
		<span>
			Gewinngrenze <input type="number" [(ngModel)]="pointsToWin">
		</span>
		<span class="ms-2">
			<button type="button" class="btn btn-secondary me-1" (click)="softReset()">Softreset</button>
			<button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
		</span>
	</div>

	<div *ngIf="players.length === 0">
		<span>
			Anzahl an Spielern
			<input type="number" min="2" value="3" style="width: 50px" #playercount />
		</span>
		<div>
			<button type="button" class="btn btn-success" (click)="start(playercount.value)">Start</button>
		</div>
	</div>

	<ng-container *ngIf="players.length > 1">
		<div class="w-100 mt-3">
			<table class="table" style="table-layout: fixed;">
				<thead>
					<th *ngFor="let player of players">
						{{ player.name + (player.isDealer ? '*' : '') }}
					</th>
					<td class="last-col"></td>
				</thead>
				<tbody>
					<tr *ngFor="let round of rounds; let last = last">
						<td *ngFor="let player of players">
							{{ round.pointsPerPlayer[player.id] | number }}
						</td>
						<td *ngIf="last" class="last-col">
							<button type="button" class="btn btn-danger remove-button" (click)="deleteRound()"><i
									style="vertical-align: top;">-</i></button>
						</td>
					</tr>
					<!-- <tr>
						<td *ngFor="let player of players"></td>
						<td class="last-col">
							<button type="button" class="btn btn-danger remove-button"><i>-</i></button>
						</td>
					</tr> -->
					<tr>
						<td [colSpan]="playerCount" class="text-center border-0">
							<button type="button" class="btn btn-success point-button" (click)="addPoints()">+</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</ng-container>

	<dialog #winModal>
		<form method="dialog">
			<p>
				Gewonnen hat: {{ getWinningPlayerNames() }}
			</p>
			<button type="submit">Ok</button>
		</form>
	</dialog>
</div>


<!-- <app-modal></app-modal> -->